<% payload = @payload || {} %>

<p>Hi there,</p>
<p>This is your Github Star Reminder. Meet your serendipity.</p>

<ul class="stars">
  <% payload.each do |star| %>
    <li>
      <ul class="star">
        <% star.each do |k, v| %>
          <li><%= [k, v].join(": ") %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
