<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href='build/email.css'>
    <!-- Styles specific to Outlook 2007, 2010 and 2013 -->
      <!--[if gte mso 9]>
        <style>
          ul,
          ol {
           margin: 0 0 0 24px;
          }

          dd {
            text-indent: -3em;
          }
        </style>
    <![endif]-->
    <style data-premailer="ignore">
      .apple-link a {
        color: inherit !important;
        text-decoration: none !important;
      }

      @media screen and (max-width: 470px) {
        .mail-body > tbody > tr > td {
          padding-top: 0 !important;
        }

        .mail-body__content > tbody > tr > td {
          border-radius: 0;
          border-top: 0 !important;
          border-right: 0 !important;
          border-left: 0 !important;
        }

        .mail-sections > tbody > tr > td {
          padding-right: 0 !important;
          padding-left: 0 !important;
        }

        .mail-section > tbody > tr > td:first-child {
          padding-left: 20px !important;
        }

        .mail-section > tbody > tr > td:last-child {
          padding-right: 20px !important;
        }

        .mail-help-center > tbody > tr > td:first-child {
          padding-left: 20px !important;
        }

        .mail-help-center > tbody > tr > td:last-child {
          padding-right: 20px !important;
        }
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
