<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Star Reminder">
    <meta name="author" content="ifyouseewendy">
    <link rel="shortcut icon" href="favicon.ico">
    <title>Star Reminder</title>
  </head>

  <body id="root">
    <%= yield %>

    <script type="text/javascript" src="bundle.js"></script>
    <script type="text/javascript">
      window.addEventListener("load", function() {
        window.Application.render();
      });
    </script>
  </body>
</html>
