<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Star Reminder</title>
    <meta charset="utf-8">
    <meta name="description" content="Star Reminder">
    <meta name="author" content="ifyouseewendy">
  </head>

  <body id="main">
    <%= yield %>
  </body>
</html>
