$primary-color: #e76278;
$light-color: #f0f3ed;
$dark-color: #3c3047;
$accent-color: #84685e;
$accent-color-2: #c83654;

body {
  background-color: $primary-color;
  color: #fff;
  display: grid;
  font-family: "Roboto", sans-serif;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 20% 60% 20%;

  #root {
    grid-column-start: 2;
    grid-row-start: 2;
  }
}

.logo {
  align-items: center;
  display: inline-flex;
  height: 10rem;

  img {
    height: 7rem;
    margin-right: 1rem;
  }

  p {
    color: black;
    font-size: 3.3rem;
    font-weight: bold;
    line-height: 1;
    width: 2rem;
  }
}
