body {
  display: grid;
  font-family: "Roboto", sans-serif;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 20% 60% 20%;

  #root {
    grid-column-start: 2;
    grid-row-start: 2;
  }
}

