$primary-color: #e76278;
$light-color: #f0f3ed;
$dark-color: #3c3047;
$accent-color: #84685e;
$accent-color-2: #c83654;

$title-font: 'Proza Libre', sans-serif;
$accent-font: 'Lora', serif;
$body-font: 'Open Sans', sans-serif;

body {
  background-color: $primary-color;
  color: $dark-color;
  display: grid;
  font-family: $body-font;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 20% 60% 20%;

  #root {
    grid-column-start: 2;
    grid-row-start: 2;
  }
}

.description {
  font-family: $accent-font;
}

.logo {
  display: flex;
  justify-content: center;
  width: 100%;
}

.logo--container {
  align-items: center;
  display: inline-flex;
  height: 10rem;

  img {
    height: 7rem;
    margin-right: 1rem;
  }

  p {
    color: white;
    font-family: $title-font;
    font-size: 3.3rem;
    font-weight: bold;
    line-height: 1;
    width: 16rem;
  }
}
